
.tablet{
    z-index: 0;
}
.containerx{
    overflow: auto;
    width: 100%;
    height: 100vh;
    padding-bottom: 120px;
}
body
{

}
.leader-back{
    background:url(http://veetbox.ru/images/easyblog_articles/2133/game-alto-odyssey-05.gif);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-y: auto;
}
.tablet{
    padding-top: 20px;
    border-color: black;
    color: #ffffff;

}
.success{
    padding-top: 60px;
    text-align: center;
}
.succ{
    text-align: center;
}
.headimg
{
    width:110px;
    margin-top: -15px;
}
.user
{

    font-size: 18px;
    background-color: #0984e3;
    color:#ffffff;
}
.points
{
    font-size:18px;
    background-color: #0984e3;
    color:#ffffff;
}
.rank
{
    font-size:18px;
    background-color: #0984e3;
    color:#ffffff;
}